*{
    font-family: sfpro-r-bold;
    transition: 300ms all ease-in-out;
    color: var(--primaryFont);
}


:root{
  --primaryBackgorund: #0e0d11;
  --secondaryBackground : #4b3e6944;
  --secondaryBackgroundHover : #33265571;
  --primaryFont: #ffffff;
  --secondaryFont: #8C859F;
}

@font-face {
    font-family: sfpro-r-bold;
    src: url(./assets/fonts/SF-Pro-Rounded-Bold.otf);
  }
  
  @font-face {
    font-family: sfpro-r-thin;
    src: url(./assets/fonts/SF-Pro-Rounded-Thin.otf);
  }
  

  @font-face {
    font-family: sfpro-r-regular;
    src: url(./assets/fonts/SF-Pro-Rounded-Regular.otf);
  }
