* {
  font-family: sfpro-r-bold;
  transition: 300ms all ease-in-out;
  -moz-transition: 300ms all ease-in-out;
  color: var(--primaryFont);
}


:root {
  --primaryBackgorund: #0e0d11;
  --secondaryBackground: #4b3e6944;
  --secondaryBackgroundHover: #33265571;
  --primaryFont: #ffffff;
  --secondaryFont: #8C859F;
}

@font-face {
  font-family: sfpro-r-bold;
  src: url(./assets/fonts/SF-Pro-Rounded-Bold.otf);
}

@font-face {
  font-family: sfpro-r-thin;
  src: url(./assets/fonts/SF-Pro-Rounded-Thin.otf);
}


@font-face {
  font-family: sfpro-r-regular;
  src: url(./assets/fonts/SF-Pro-Rounded-Regular.otf);
}

@font-face {
  font-family: sfpro-d-bold;
  src: url(./assets/fonts/SF-Pro-Display-Bold.ttf);
}

.blob {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.3;
  max-width: 1000px;
  max-height: 500px;
  width: 100%;
  height: 100%;
  animation: animate 10s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite alternate forwards;
  filter: brightness(0.5);
  filter: blur(100px);
  z-index: -1;
  background: linear-gradient(47deg,
          rgba(255, 88, 139, 1) 21%,
          rgb(0 164 173) 67%,
          rgba(118, 74, 166, 1) 81%);
}


/*animations*/

.text-pop-up-tr {
  animation: text-pop-up-tr 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.tracking-in-expand {
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.puff-in-center {
  animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

.text-pop-up-top {
  animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes text-pop-up-tr {
  0% {
    transform: translateY(0) translateX(0);
    transform-origin: 50% 50%;
    text-shadow: none;
  }

  100% {
    transform: translateY(-50px) translateX(50px);
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}


@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}


@keyframes puff-in-center {
  0% {
    transform: scale(2);
    filter: blur(4px);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
  }
}


@keyframes text-pop-up-top {
  0% {
    transform: translateY(0);
    transform-origin: 50% 50%;
    text-shadow: none;
  }

  100% {
    transform: translateY(-50px);
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}