.ShowGames-Body {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: var(--primaryBackgorund);
    justify-content: center;
    gap: 5px;
}


.blob {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.3;
    width: 1000px;
    height: 500px;
    animation: animate 10s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite alternate forwards;
    filter: brightness(0.5);
    filter: blur(100px);
    z-index: -1;
    background: linear-gradient(47deg,
            rgba(255, 88, 139, 1) 21%,
            rgb(0 164 173) 67%,
            rgba(118, 74, 166, 1) 81%);
}

.ShowGames-GameCard {
    width: auto;
}

.ShowGames-GameMainContainer {

    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
    height: fit-content;
    margin-top: 120px;
}

.ShowGames-GameCards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 30px;
}



.ShowGames-FilterMainContainer {
    margin-top: 120px;
    width: 15%;
    background-color: var(--secondaryBackground);
    border-left: none;
    padding-top: 20px;
    border-radius: 0 20px 20px 0;
    border: 3px solid #0000;
    padding: 15px;
}





.ShowGames-FilterMainContainer:hover {
    background-color: var(--secondaryBackgroundHover);
}


.ShowGames-MainContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
}




.custom-select .react-select__control {
    background-color: #00000031;
    height: 50px !important;
    border-radius: 10px;
    height: 30px;
    border: none;
    outline: none;
    color: #ffffff !important;
}

.custom-select .react-select__control:focus {
    background-color: var(--primaryBackgorund);
    border: none;
    outline: none;
    color: #ffffff !important;
}

.custom-select .react-select__menu {
    border-radius: 10px;
    background-color: var(--primaryBackgorund);
    color: #ffffff !important;
}

.custom-select .react-select__option--is-focused {
    background-color: var(--secondaryBackground) !important;
    color: #ffffff !important;
}

.custom-select .react-select__option--is-selected {
    background-color: var(--secondaryBackgroundHover) !important;
    color: #ffffff !important;
}

.custom-select .react-select__single-value {
    color: white !important;
}

.custom-select .react-select__control {
    outline: none !important;
    box-shadow: none !important;
}

.custom-select .react-select__indicator-separator {
    display: none !important;
}


label {
    margin-top: 20px;
}