.ShowGames-Body {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: var(--primaryBackgorund);
    display: flex;
    justify-content: center;
}


.blob {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.3;
    width: 1000px;
    height: 500px;
    animation: animate 10s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite alternate forwards;
    filter: brightness(0.5);
    filter: blur(100px);
    z-index: -1;
    background: linear-gradient(47deg,
            rgba(255, 88, 139, 1) 21%,
            rgb(0 164 173) 67%,
            rgba(118, 74, 166, 1) 81%);
}

.ShowGames-GameCard{
    width: auto;
}

.ShowGames-GameMainContainer{

    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    height: fit-content;
    margin-top: 120px;
}

.ShowGames-GameCards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 30px;
}


.ShowGames-GameCard{
    background-color: aqua;
}
