.ShowGames-Body {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: var(--primaryBackgorund);
    justify-content: center;
    gap: 5px;
}



.ShowGames-GameCard {
    width: auto;
}

.ShowGames-GameMainContainer {

    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
    height: fit-content;
    margin-top: 120px;
}

.ShowGames-GameCards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 30px;
}



.ShowGames-FilterMainContainer {
    margin-top: 120px;
    width: 15%;
    background-color: var(--secondaryBackground);
    border-left: none;
    padding-top: 20px;
    border-radius: 0 20px 20px 0;
    border: 3px solid #0000;
    padding: 15px;
    height: fit-content;
    display: flex;
    gap: 20px;
    flex-direction: column;
    
}

.ShowGames-FilterMainContainer:hover {
    background-color: var(--secondaryBackgroundHover);
}


.ShowGames-MainContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
}




.custom-select .react-select__control {
    background-color: #00000031;
    height: 50px !important;
    border-radius: 10px;
    height: 30px;
    border: none;
    outline: none;
    color: #ffffff !important;
}

.custom-select .react-select__control:focus {
    background-color: var(--primaryBackgorund);
    border: none;
    outline: none;
    color: #ffffff !important;
}

.custom-select .react-select__menu {
    border-radius: 10px;
    background-color: var(--primaryBackgorund);
    color: #ffffff !important;
}

.custom-select .react-select__option--is-focused {
    background-color: var(--secondaryBackground) !important;
    color: #ffffff !important;
}

.custom-select .react-select__option--is-selected {
    background-color: var(--secondaryBackgroundHover) !important;
    color: #ffffff !important;
}

.custom-select .react-select__single-value {
    color: white !important;
}

.custom-select .react-select__control {
    outline: none !important;
    box-shadow: none !important;
}

.custom-select .react-select__indicator-separator {
    display: none !important;
}


.ShowGames-Body label {
    margin-top: 20px;
}

.ShowGames-FilterMainContainer button{
    background-color: var(--button);
    border: none;
    outline: none;
    transition: 300ms all ease-in-out;
}

.ShowGames-FilterMainContainer button:hover{
    background-color: var(--buttonHover);
    border: none;
    outline: none;
    transition: 300ms all ease-in-out;
}

@media only screen and (max-width: 1000px) {
    .ShowGames-MainContainer{
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
        width: 100%;
    }

    .ShowGames-FilterMainContainer{
        border-radius: 20px;
        width: 90%;
    }

    .ShowGames-GameMainContainer{
        gap: 5PX;
        flex-direction: row;
    }

    .ShowGames-GameMainContainer{
        width: 100%;
    }
}