.GamePage-body{
    background-color: var(--primaryBackgorund);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.GamePage-MainContainer{
    margin-top: 100px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
}

.GamePage-Title{
    color: var(primaryFont);
    font-size: 40px;
}

.GamePage-CoverImage{
    border-radius: 15px;
    display: inline;
    width: fit-content;
    aspect-ratio: 2/3;
    height: 400px;
    
}

.GamePage-Container{
    background-color: var(--secondaryBackground);
    width: 500px;
    border-radius: 15px;
}

.GamePage-Wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}