.GamePage-body {
    background-color: var(--primaryBackgorund);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.GamePage-MainContainer {
    margin-top: 100px;
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    flex-direction: column;
}

.GamePage-Title {
    color: var(primaryFont);
    font-size: 40px;
    user-select: none;
}

.GamePage-CoverImage {
    height: 390px;
    border-radius: 15px;
    width: 260px;
}

.GamePage-CoverImage:hover {
    transform: scale(1.02);
}

.GamePage-Container {
    background-color: var(--secondaryBackground);
    width: 370px;
    border-radius: 15px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 30px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.322);
    backdrop-filter: blur(10.9px);
    -webkit-backdrop-filter: blur(10.9px);
    z-index: 1;
}

.GamePage-Container:hover {
    transform: scale(1.02);
    background: var(--secondaryBackgroundHover);
}


.GamePage-Container>div>p {
    font-size: 30px;
    margin: 0;
    padding: 0;


}

.GamePage-Container>div>span {
    color: var(--secondaryFont);
    font-size: 20px;

}

.GamePage-Wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.GamePage-Wrapper2 {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



lite-youtube {
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
    height: 360px;
    width: 640px;
}


@media only screen and (max-width: 1600px) {
    .GamePage-MainContainer {
        padding-left: 20px;
        padding-right: 20px;

    }

    .GamePage-Container {
        width: 350px;
    }
}

.blob {
    margin-left: auto;
    margin-right: auto;
    margin-top: -600px;
    opacity: 0.5;
    width: 600px;
    aspect-ratio: 1/1;
    animation: animate 10s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite alternate forwards;
    filter: brightness(0.5);
    filter: blur(40px);
    z-index: -1;
    background: linear-gradient(47deg,
            rgba(255, 88, 139, 1) 21%,
            rgb(0 164 173) 67%,
            rgba(118, 74, 166, 1) 81%);

     
}
  
