.UserProfile-Body {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: var(--primaryBackgorund);
}

.UserProfile-Username {
    color: var(--primaryFont);
    font-size: 40px;
    user-select: none;
}

.UserProfile-MainContainer {
    margin-top: 150px;
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.UserProfile-GameCardsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: fit-content;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 30px;
}

.UserProfile-CompletedGames{
    width: 90%;
}

.UserProfile-UserContainer {
    background-color: var(--secondaryBackground);
    width: 90%;
    height: 300px;
    padding: 10px 20px 0px 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;

}

.UserProfile-UserContainer>div {
    width: 50%;
}

.UserProfile-UserActionBtns {
    display: flex;
    justify-content: right;
    height: fit-content;
    gap: 20px;

}

.UserProfile-UserStats{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100% !important;
}

.UserProfile-UserActionBtns button {
    background-color: var(--button);
    border: none;
    transition: all 300ms ease-in-out;
}

.UserProfile-UserStats p {
    font-size: clamp(20px, 4vw, 35px);
    margin-bottom: 0px;
    margin-top: -20px;
    color: var(--primaryFont);
}

.UserProfile-UserStats span {
    font-size: clamp(16px, 2.5vw, 25px);
    color: var(--secondaryFont);
}

.UserProfile-UserStats>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.UserProfile-UserActionBtns button:hover {
    background-color: var(--buttonHover);
    transition: all 300ms ease-in-out;
}

.UserProfile-DeleteButton {
    background-color: var(--dangerButton) !important; 
}


.UserProfile-DeleteButton:hover {
    background-color: var(--dangerButtonHover) !important;
}

@media only screen and (max-width: 1150px) {
    .UserProfile-MainContainer {
        padding: 20px;
    }

}

@media only screen and (max-width: 600px) {
    .UserProfile-UserContainer > div:first-child {
        flex-direction: column;
    }

    .UserProfile-UserActionBtns{
        flex-direction: column;
    }

}