@font-face {
    font-family: Montserrat;
    src: url(../../assets/fonts/Montserrat-VariableFont_wght.ttf);
}

.Home-body {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../../assets/images/blob.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    background-position-x: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.Home-Hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    user-select: none;
    margin-top: 100px;
}

.Home-HeroText {
    font-size: 180px;
    font-family: Montserrat;
    font-weight: 600;
    letter-spacing: 30px;
    text-align: center;
}

.Home-HeroText:hover {
    font-weight: 200;
    letter-spacing: 20px;
    font-size: 180px;
}


.Home-HeroSubText {
    text-align: center;
    margin-top: -240px;
    font-size: 30px;
}



@media (max-width: 800px){
    .Home-HeroText{
        font-size: 40px;
    }
    .Home-HeroSubText{
        margin-top: -50px;
        font-size: 20px;
    }
    .Home-Hero{
        margin-top: 400px;
    }
}