@font-face {
    font-family: Montserrat;
    src: url(../../assets/fonts/Montserrat-VariableFont_wght.ttf);
}

.Home-body {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: center;
    align-items: center;
}

.Home-Hero {
    background-image: url("../../assets/images/heroBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    backdrop-filter: blur(100px);
    align-items: center;
    user-select: none;
    width: 100%;
    height: 100%;
    border-radius: 0px;
}


.Home-Hero:has(.Home-HeroText:hover) {
    width: 90%;
    height: 80%;
    border-radius: 40px;
    margin-top: 0px;
    background-image: url("../../assets/images/heroBackgroundGrain.png");
}


.Home-HeroText {
    font-size: 180px;
    font-family: Montserrat;
    font-weight: 600;
    letter-spacing: 30px;
}

.Home-HeroText:hover {
    font-weight: 900;
    letter-spacing: 20px;
    font-size: 200px;
    letter-spacing: 30px;
}


.Home-HeroSubText {
    font-size: 30px;
    position: relative;
    top: -30px;
}






