.GameCard-CoverImage {
    height: 390px;
    border-radius: 15px;
    width: 260px;
    background-position: center;
    background-size: cover;
}


.GameCard-Body{
    background-color: var(--secondaryBackground);
    border-radius: 15px;
    width: 260px;
    justify-content: center;
    text-align: center;
    padding-bottom: 10px;
    height: fit-content;
    text-wrap:wrap;
}


.GameCard-Body:hover{
    background-color: var(--gameAccentColor);
}