* {
    transition: all 300ms ease-in-out;
}

.NavBar-Main{
    width: 100%;
    max-width: 1000px;
    height: auto;
    position: fixed;
    z-index: 999;
    top: 17px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
}

.NavBar-MainContainer {
    
    background: var(--secondaryBackground);
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.322);
    backdrop-filter: blur(10.9px);
    -webkit-backdrop-filter: blur(10.9px);
    height: 65px;
    display: flex;
    justify-content: space-between;
    outline: 0px solid #4f339671;
}

.NavBar-MainContainer:hover {
    height: 65px;
    width: 100%;
    background: #33265571;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.199);
    
    border-radius: 30px;
    outline: 1px solid #4f339671;
    outline-offset: 10px;
}

.NavBar-Main:hover {
    top: 25px;
}

.NavBar-SearchBox {
    display: flex;
    padding-top: 10px;
    padding-left: 20px;
    flex-direction: column;
}




.NavBar-SearchBar {
    background-color: #00000031;
    height: 40px;
    border: none;
    border-radius: 20px;
    padding-left: 20px;
    width: 300px;
    font-size: 17px;
    margin-left: 10px;
}

.NavBar-SearchBar:focus {
    border: none;
    outline: none;
    
}

.NavBar-SearchBoX-Input{
    display: flex;
    flex-direction: row;
}

.NavBar-SearchIcon {
    font-size: 20px;
    padding-top: 10px;
}

.NavBar-Buttons {
    width: fit-content;
    margin-right: 20px;
}


.NavBar-SearchBar-Shortcut-cotainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 140px;
}

.NavBar-SearchBar-Shortcut {
    background-color: rgba(0, 0, 0, 0.329);
    border-radius: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

.NavBar-Button {
    background-color: #00000000;
    border: none;
    border-radius: 30px;
}

.NavBar-Button:hover {
    background-color: #00000000;
}

.NavBar-Buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.NavBar-Body {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.NavBar-SearchResultContainer{
    display: none;
    background-color: var(--secondaryBackground);
    height: 200px;
    width: 100%;
    max-width: 350px;
    border-radius: 0px 0px 10px 10px;
    
}

.NavBar-Body:has(.NavBar-SearchBar:not(:focus)) .NavBar-SearchResultContainer {
    display: none;
}

.NavBar-Body:has(.NavBar-SearchBar:focus) .NavBar-SearchResultContainer {
    display: block;
}

.NavBar-Body:has(.NavBar-SearchResultContainer :hover) .NavBar-SearchResultContainer {
    display: block;
}

.NavBar-Body:has(.NavBar-SearchBar:focus) .NavBar-MainContainer {
    border-radius: 16px 16px 16px 0px;
}


.NavBar-SearchResultContainer > ul{
    list-style: none;
}
@media (max-width:800px) {

    .NavBar-MainContainer {
        flex-direction: column;
        height: 100px;
        padding-top: 20px;
        align-items: center;
    }
    .NavBar-MainContainer:hover{
        height: auto;
    }

    .NavBar-SearchBar-Shortcut-cotainer {
        display: none;
    }

}